<!DOCTYPE html>
<html lang="et">  <!-- main language -->
<body style="background-color:powderblue;">
</head>
	<meta charset="utf-8">  <!-- tähekoodide tabel -->
	<title>Uku Kurm, veebiprogrammeerimine</title>
</head>
<body>
<img src="images/vp_banner_2025_TA.jpg" alt="vp banner"> <!-- alt text -->
<h1>Uku Kurm, veebiprogrammeerimine</h1> <!-- heading 1, pk suurus -->
<p>bla bla <a href="https://www.tlu.ee/">TLÜ</a> bla bla bla</p> 
<hr> <!-- horisontal line -->
<ul>
	<li><a href="/timenow">Ajainfo</a></li>
	<li><a href="/vanasonad">Vanasonad</a></li>
	<li><a href="/regvisit">regvisit</a></li>
	
	


</body>


</html>