<!DOCTYPE html>
<html lang="et">  <!-- main language -->
<body style="background-color:powderblue;">
</head>
	<meta charset="utf-8">  <!-- tähekoodide tabel -->
	<title>Uku Kurm, veebiprogrammeerimine</title>
</head>
<body>
<img src="images/vp_banner_2025_TA.jpg" alt="vp banner"> <!-- alt text -->
<h1>Uku Kurm, veebiprogrammeerimine</h1> <!-- heading 1, pk suurus -->
<p>bla bla <a href="https://www.tlu.ee/">TLÜ</a> bla bla bla</p> 
<hr> <!-- horisontal line -->
<ul>
	<li><a href="/">Ajaleht</a></li>
</ul>	
<hr>
<h2>Pane end kirja</h2>
<form method="POST">
<label for="nameInput">Nimi</label>
<input id="nameInput" type="text" name="nameInput" placeholder="Kirjuta siia oma nimi. . ."
<br>
<input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
</form>
</body>


</html>